.p-btn {
  height: 25px;
}

.message {
  display: block;
  padding: 10px;
}

.external-link-icon {
  font-size: 8px;
}

.tag {
  background-color: #dedede;
  border-radius: 4px;
  margin-bottom: 2px;
  padding: 3px;
  display: inline-block;
}

.playbook-container {
  padding-bottom: 7px;
  .playbook-name {
    font-weight: 700;
    font-size: 1em;
  }
}

.container-name {
  padding-bottom: 10px;
}

.failed {
  color: #ff4559;
}

.success{
  color: #388E3C;
}

.pending{
  color: #FF8F00;
}

.selectContainer {
  display: flex;
  padding-top: 2px;
  padding-bottom: 10px;

  .p-value {
    width: 110px;
  }
}

.cef {
  display: block;
  padding-top: 2px;
  padding-bottom: 10px;

  .p-value {
    width: 110px;
  }
}

.cef-field-container {
  margin-top: -15px;
}

.cef-field {
  border-radius: 4px;
  display: inline-block;
  line-height: 14px;
  box-shadow: 3px 3px 3px #888888;
  margin: 0 0 4px 0;
  color: #fff;
  background-color: #000;
  padding: 0;

  .text-container {
    padding: 3px 3px 3px 3px;
    border-radius: 4px 0 0 4px;
    display: inline-block;
    flex: 1 0 0;
  }

  .remove-icon-container {
    border-radius: 0px 4px 4px 0px;
    padding: 0;
    display: inline-block;
    color: #fff;
    flex: 0 0 10px;

    .cef-field-close-icon {
      font-size: 9px;
    }

    .cef-field-close-icon:hover {
      color: #ff0000;
    }
  }

  .external-link-cef-field {
    font-size: 9px;
    margin-bottom: 1px;
    margin-right: 2px;
  }
}

a.cef-field {
  .text-container:hover {
    text-decoration: underline;
  }
}

.show-cef-field-modal {
  overflow: hidden;
  margin-top: 10px;
  background-color: #eee;
  padding: 5px;
  border-radius: 4px;

  .modal-buttons {
    float: right;
    margin-top: 5px;
  }
  .ember-power-select-multiple-option {
    margin: 0 2px 2px 0;
    word-break: break-word;

    .p-cef-field {
      margin: 0 !important;
    }
  }

  .ember-power-select-trigger {
    padding: 2px 30px 0 2px;
    line-height: 30px;
    min-height: 30px;
    white-space: normal;
  }

  .ember-power-select-trigger-multiple-input {
    max-width: 100%;
  }
}

.cef-fields {
  margin-left: 18px !important;
}

.open-modal-btn {
  border-radius: 4px;
  background-color: #363636;
  color: #fff;

  &:hover,
  &:focus {
    background: inherit;
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: none;
  }

  .open-modal-btn-icon {
    font-size: 9px;
  }
}

.open-modal-btn:hover {
  background-color: darken(#363636, 10%);
}